<h1>Make a Trade with <%= @user2.name %></h1>
<form method= "post" action= "/users/submit-trade">
<h2>Choose players you would like to Trade</h2>
    <% @user1.players.each do | player | %>
        <h5>
            <input type= "radio" name= "user1[traded][]" value= "<%= player.id %>"><%= player.name %></input>
        </h5>
    <% end %>
    <br>
<h2>Choose players you would like to Trade For</h2>
    <% @user1.players.each do | player | %>
        <h5>
            <input type= "radio" name= "user1[traded][]" value= "<%= player.id %>"><%= player.name %></input>
        </h5>
    <% end %>
<input type= "submit" value= "Trade">
</form>