<h1><%= @player.name %></h1>
<h2>
    <a href= "/teams/<%= @player.team.slug %>">
        <%= @player.team.name %>
    </a> 
</h2>
<h3>
    Points Per Game <%= @player.ppg %>
    Assists Per Game <%= @player.apg %>
    Rebounds Per Game <%= @player.rpg %>
</h3>
<h4>
    <% if @player.user != nil %>
        A part of <%= @player.user %>'s Roster
    <% else %>
        <form method= "post" action= "/players/draft/<%= @player.slug %>"> <input type= "submit" value= "Draft" name= "Draft"> </form>
    <% end %>
</h4>
